.imp 
{
text-align: center;
font: 40px "Helvetica Neue",Helvetica,Arial;
background-color: aqua;
border:50px black;
font-family: Arial;
border-radius: 30px;
padding-top: 20px;
padding-bottom : 20px;



}

.imp1 
{

color:rgb(255, 81, 0);
text-align:center;
text-decoration-color: rgb(11, 196, 51);
font-family: Arial;
font-size: 50x;
border-radius: 300px;
border: solid rgb(2, 27, 18);
background-color: rgb(123, 255, 0);
padding-top: 20px;
padding-bottom : 20px;




}


a:visited,a:link
{border: 100px black;
background-color: rgb(14, 233, 65);
text-align: center;
border-radius: 100px;
text-decoration: dashed;
padding-top: 5px;
padding-bottom : 5px;
padding-left: 15px;
padding-right: 15px;


}

a :hover,a:active{

border: 100px rgb(0, 0, 0);
background-color: hwb(22 11% 7% / 0.863);
border-radius: 100px;
text-decoration:wavy;
padding-top: 20px;
padding-bottom : 20px;
}

a:unvisited
{

border:rgb(228, 21, 21);
background-color: hwb(184 11% 7% / 0.863);
border-radius: 100;
text-decoration:wavy;
padding-top: 50px;
padding-bottom : 50px;
}

.img1
{
background-image: url(789615.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}